<div class="row">
  <div class="col-md-12">
    {{#link-to 'businesses/new'}}New{{/link-to}}
    <ul>
      {{#each model}}
        <li>{{#link-to 'business' this}}{{this.name}}{{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
